$background: rgb(74, 74, 77);
$foreground: #f5f5f5;

$brandPrimary: #e08835;
$primaryFont: "Playfair Display SC", serif;
$secondaryFont: "Open Sans", sans-serif;

$mobile: "screen and (max-width: 567px)";