@import './reset';
@import './vars';

body {
  background-color: darken($background, 10%);
}
article {
  max-width: 960px;
    margin: 80px auto;
    background-color: $background;
    color: $foreground;
    padding: 60px 36px;
    font-size: 20px;
    box-shadow: 0px 4px 40px 10px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 567px) {
      padding: 60px 12px;
    }
}
.intro {
  font-weight: 100;
  font-style: italic;
}
.imageblock img {
  max-width: 100%;
}
article {
  div {
    margin-bottom: 2em;
  }
  p {
    font-family: "Open Sans", sans-serif;
  }
}
body {
  article {
    h1 {
      font-size: 3em;
      margin-bottom: 0.6em;
      font-family: "Playfair Display SC", serif;
      font-weight: 900;

      @media screen and (max-width: 567px) {
        font-size: 1.8em;
      }
    }

    h2 {
      font-size: 1.8em;
      margin-bottom: 0.4em;
      font-family: "Playfair Display SC", serif;

      @media screen and (max-width: 567px) {
        font-size: 1.4em;
      }
    }

    h3 {
      font-size: 1.4em;
      margin-bottom: 0.2em;
      font-family: "Playfair Display SC", serif;

      @media screen and (max-width: 567px) {
        font-size: 1.1em;
      }
    }

    @import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC:900");
  }

  footer nav {
    max-width: 960px;
    margin: 0 auto;
    &.footer-nav {
      text-align: right;
      margin-bottom: 80px;
      > a {
        display: block;
        color: $foreground;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;

        div {
          margin: 0 20px;
        }

        div > span {
          font-family: "Playfair Display SC", serif;
          font-size: 2em;

          & + h1 {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
